body{
  background-color: aliceblue;

}

nav{
  width: 500px;
  margin: auto;
  background-color: aqua;
}
nav ul{
  display: flex;
  justify-content: space-evenly;
  list-style: circle;
  margin-top: 30px;
}
body main section {
  display: flex;
  width: 960px;
  margin: auto;
}
body main section img {
  width: 480px;
}
body main section div {
  display: flex;
  flex-direction: column;
}
body main section div h1{
   background-color: blueviolet;
  text-align: center;
  margin-top: 20px;
  font-size: large;
  color: greenyellow;
  
}
/* start of locations */
body #locations {
display: flex;
flex-direction: column;
background-color:blanchedalmond;
}
body #locations ul {
  display: flex;
  justify-content: center;
}
body #locations ul li{
  padding:15px;
}
/* end of locations */

/* start of merchandise */
body #merch {
  display: flex;
  flex-direction: column;
  background-color:darkseagreen;
}

body #merch ul{
  display: flex;
  justify-content: center;
}
/* end of merchandise */

/* start of contact */

body #contact {
  display: flex;
  flex-direction: column;

}

body #contact ul {
  display: flex;
  justify-content: center;
}

body #contact ul p {
  padding: 10px;
}
/* end of contact */

img{
  width: 70%;
  height: auto;
  border : 1px solid red;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  float: center;
  display: flex;
  margin-top: 0px;
  margin-bottom: 30px;
  
}



p{
  height: 300px;
  font-size: 18px;
  font-style: oblique;
  line-height: 25px;
  text-align: right;
 


}
ul{
  color: rebeccapurple;
  text-align: center;
  
}
h2{
  background-color: blueviolet;
  text-align: center;
  margin-top: 20px;
  font-size: large;
  color: greenyellow;
  margin-left: 300px;
  margin-right: 300px;
}

main {
  background-color: beige;

}

footer {
  text-align: center;
  margin-bottom: 20px;
}

#table,td,th{
  font-family:'Times New Roman', Times, serif;
  border:solid purple;
}